* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card {
    background: linear-gradient(var(--color-bg), var(--color-bg)) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
}